
body{
    background-color: #C80101;
    background: radial-gradient(circle, #C80101 0%, #F3C001 60%);
   font-family: 'Roboto Condensed', sans-serif;
}

.antman{
    display: flex;
    margin-top: 120px;
    justify-content: center;
    color: white;
}
.poster{
    height: 330px;
    width: 220px;
    background-image: url('/images/poster11.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
iframe{
    margin-left: 20px;
}
.backgr{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}